In [1]:
import statistics 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics

In [4]:
vs = pd.read_csv('Data/vs_num.csv', index_col=0)
vs_cat =  pd.read_csv('Data/vs_cat.csv', index_col=0)

In [25]:
bvs = pd.read_csv('Data/bvs_num.csv', index_col=0)
bvs_cat =  pd.read_csv('Data/bvs_cat.csv', index_col=0)

In [26]:
bvs.head()

,Unnamed: 1,sales_Europe,sales_Oceania,sales_America,Imin,Iavg,Type_unik,reg_unik,Rate_avg
pricespy_unknown,AFOX,7.0,0.0,0.0,2,2.333333,1.0,5.0,1.393848
pricespy_unknown,AMD,18.0,0.0,0.0,1,1.125000,1.0,9.0,1.403496
pricespy_unknown,ELIXIR,9.0,0.0,0.0,1,1.000000,1.0,5.0,1.341672
pricespy_unknown,OCZ,4.0,0.0,0.0,1,1.000000,1.0,2.0,1.363638
pricespy_unknown,PANRAM,92.0,3.0,0.0,1,1.158537,2.0,11.0,1.355402

In [5]:
vs.head()

,sales_Europe,sales_Oceania,sales_America,Imin,Ew,Cont_Max,Dim_unik,Type_unik,coun_unik,reg_unik,price_unik,Rate_avg
vendor,,,,,,,,,,,,
OutletPC,0.0,0.0,8060.0,1,2.450077,1,9,3,1,7,2417,1.000000
Alternate Italia,161.0,73.0,0.0,2,2.264238,2,6,3,2,3,200,1.234006
Adorama,0.0,0.0,3334.0,1,2.689970,1,11,3,1,7,1506,1.000000
Mighty Ape,50.0,279.0,0.0,1,2.400425,2,4,2,4,14,312,0.762743
Dell,0.0,0.0,803.0,1,2.768091,1,7,3,1,7,109,1.000000

In [6]:
vs_cat.head()

,Country,Fav_weekday,Fav_month,fav_dim,fav_price,fav_model,fav_mem_type,fav_clock,fav_continent,fav_region,Conv_most,Conv_less,Conv_max,Conv_min,fav_week
vendor,,,,,,,,,,,,,,,
OutletPC,United States of America,Friday,April,16.0,69.890000,Corsair Vengeance,DDR4,1600,America,mid-atalntic,1.000000,1.000000,1.000000,1.000000,14
Alternate Italia,Italy,Friday,March,16.0,46.033673,G.Skill Trident Z,DDR3,1600,Europe,north italy,1.225348,1.225348,1.244826,1.225348,11
Adorama,United States of America,Friday,April,8.0,79.990000,Crucial,DDR4,1600,America,south-east usa,1.000000,1.000000,1.000000,1.000000,10
Mighty Ape,Australia,Friday,February,16.0,131.379524,Corsair Vengeance,DDR4,2400,Oceania,brussels,0.717960,0.717960,0.788398,0.717960,13
Dell,United States of America,Friday,April,4.0,89.990000,Visiontek,DDR2,800,America,west usa,1.000000,1.000000,1.000000,1.000000,16

In [10]:
cat_cols=['fav_continent','fav_region','Country','Fav_weekday','fav_week','Fav_month','fav_dim','fav_model','fav_mem_type','fav_clock']

In [7]:
df=vs.copy()

In [8]:
df.head()

,sales_Europe,sales_Oceania,sales_America,Imin,Ew,Cont_Max,Dim_unik,Type_unik,coun_unik,reg_unik,price_unik,Rate_avg
vendor,,,,,,,,,,,,
OutletPC,0.0,0.0,8060.0,1,2.450077,1,9,3,1,7,2417,1.000000
Alternate Italia,161.0,73.0,0.0,2,2.264238,2,6,3,2,3,200,1.234006
Adorama,0.0,0.0,3334.0,1,2.689970,1,11,3,1,7,1506,1.000000
Mighty Ape,50.0,279.0,0.0,1,2.400425,2,4,2,4,14,312,0.762743
Dell,0.0,0.0,803.0,1,2.768091,1,7,3,1,7,109,1.000000

In [11]:
for x in cat_cols:
    df[x]=vs_cat[x]

In [12]:
df.head()

,sales_Europe,sales_Oceania,sales_America,Imin,Ew,Cont_Max,Dim_unik,Type_unik,coun_unik,reg_unik,...,fav_continent,fav_region,Country,Fav_weekday,fav_week,Fav_month,fav_dim,fav_model,fav_mem_type,fav_clock
vendor,,,,,,,,,,,,,,,,,,,,,
OutletPC,0.0,0.0,8060.0,1,2.450077,1,9,3,1,7,...,America,mid-atalntic,United States of America,Friday,14,April,16.0,Corsair Vengeance,DDR4,1600
Alternate Italia,161.0,73.0,0.0,2,2.264238,2,6,3,2,3,...,Europe,north italy,Italy,Friday,11,March,16.0,G.Skill Trident Z,DDR3,1600
Adorama,0.0,0.0,3334.0,1,2.689970,1,11,3,1,7,...,America,south-east usa,United States of America,Friday,10,April,8.0,Crucial,DDR4,1600
Mighty Ape,50.0,279.0,0.0,1,2.400425,2,4,2,4,14,...,Oceania,brussels,Australia,Friday,13,February,16.0,Corsair Vengeance,DDR4,2400
Dell,0.0,0.0,803.0,1,2.768091,1,7,3,1,7,...,America,west usa,United States of America,Friday,16,April,4.0,Visiontek,DDR2,800

In [18]:
def discretize_data(dataset, variables):
    for variable in variables:
        #get the unique variable's values
        var = sorted(dataset[variable].unique())
        
        #generate a mapping from the variable's values to the number representation  
        mapping = dict(zip(var, range(0, len(var) + 1)))

        #add a new colum with the number representation of the variable
        dataset[variable+'_num'] = dataset[variable].map(mapping).astype(int)
    dataset.drop(columns=variables,axis=1,inplace=True)
    return dataset

In [19]:
df = discretize_data(df, cat_cols)

In [20]:
df.head()

,sales_Europe,sales_Oceania,sales_America,Imin,Ew,Cont_Max,Dim_unik,Type_unik,coun_unik,reg_unik,...,fav_continent_num,fav_region_num,Country_num,Fav_weekday_num,fav_week_num,Fav_month_num,fav_dim_num,fav_model_num,fav_mem_type_num,fav_clock_num
vendor,,,,,,,,,,,,,,,,,,,,,
OutletPC,0.0,0.0,8060.0,1,2.450077,1,9,3,1,7,...,0,8,9,0,12,0,2,2,2,1
Alternate Italia,161.0,73.0,0.0,2,2.264238,2,6,3,2,3,...,1,11,5,0,9,4,2,6,1,1
Adorama,0.0,0.0,3334.0,1,2.689970,1,11,3,1,7,...,0,22,9,0,8,0,1,4,2,1
Mighty Ape,50.0,279.0,0.0,1,2.400425,2,4,2,4,14,...,2,1,0,0,11,3,2,2,2,3
Dell,0.0,0.0,803.0,1,2.768091,1,7,3,1,7,...,0,27,9,0,14,0,0,9,0,0